@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #652A8C, #F2AECE);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(79, 33, 109, 0.575);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#652A8C;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(48, 20, 66, 0.479);
}

h2 {
    color:#652A8C;
}

p {
    text-align: justify;
}




